<html>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/upload.css') }}">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"> </script>
    {% include "header.html" %}

   
<body>
  <div class="loader"></div>
  <div id="submitArea">
  

    <div id="csvAndVideo" class="submitData">
    <form action="/" method="POST" enctype = "multipart/form-data">
        
        <h3>Upload the CSV file. Video is optional.</h3>
        <table>
          <tr><td>CSV: </td>
          <td><input type="file" name="file" autocomplete="off" required><br><br></td>
          </tr>
          <tr><td>Video (Optional): </td>
          <td><input type="file" name="videoFile" autocomplete="off"><br><br></td>
          </tr>
          <tr>
          <td>Enter frame rate of the video (Default: 30fps)</td>
          
         <td><input type="number" min="1" name="fps"></td> 
          </tr>
        </table>
        <p>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                  <li>{{ message }}</li>
      
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
        </p>

       

        <button type="submit" class="btn">Submit</button>
  
    </form>
  </div>
  <div id="videoPoseMachine" class="submitData">

    <form action="PoseMachine" method="POST" enctype = "multipart/form-data" >
      <h3>Upload the video here to run the integrated pose machine.</h3>
      Upload Video: <input type="file" id="videoFile" name="videoFile" autocomplete="off" required><br><br>

      <p>
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul class=flashes>
              {% for message in messages %}
                <li>{{ message }}</li>
    
              {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
      </p>

     

      <button type="submit" class="btn">Submit</button>

  </form>
</div>
</div>

</body>

</html>
<script src="https://code.jquery.com/jquery-1.11.3.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $(document).ready(function(){
   $(".loader").hide();
  });
  $(document).ready(function(){
    $(".btn").click(function(){
      $(".loader").show();
      $("#submitArea").hide();
    });
  });
  

</script>